#containerTableNotaIngreso {
    display:grid;
    grid-template-columns: auto;
}

.tableNotaIngreso {
    display:block;
    font-size: 12px;
    width: 90vw;
    padding: 0;
    margin-top: 10vh;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.tableNotaIngreso tr {
    width:100vw;

}

.tableNotaIngreso th {
    text-align: left;
    border-bottom-style:solid;
    border-bottom-width: 0.1vh;
}

.tableNotaIngreso td {
    width: 100%;
    text-align: left;
    padding-left: 35vw;
    margin: 0;
    border-bottom-style: solid;
    border-bottom-width: 0.1vh;
}